<%= render 'layouts/shared/header' %>

<div class="container mt-5">
  <div class="row align-items-cennter">
    <div class="col-md-6 p-md-4 offset-md-3 border-5 rounded-5 bg-info">
      <%= form_with url: search_tags_path, method: :get, class:'navbar-form' do |form| %>
        <div class="form-group">
          <%= form.text_field :term, class:"form-control", placeholder:t('attributes.search_for_tag') %>
        </div>
        <button type="submit" class="btn btn-outline-dark mt-1" ><%= t('attributes.search') %></button>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row align-items-cennter">
    <% if user_signed_in?%>
      <div class="col-md-6 p-md-4 offset-md-3 border-5 rounded-5 bg-info">
        <h4>Compartilhe suas ideias e momentos!</h4>
        <%= form_with model: @post do |form| %>
            <div class="form-floating mb-2" style='height: 150px;'>
              <%= form.text_area :text, class: "form-control", 
                                        id: "floatingTextArea", 
                                        aria_describedby: "button-addon1",  
                                        style: "height: 150px;", 
                                        placeholder: t('views.models.what_are_you_thinking') %>
              <%= form.label :text, t('views.models.what_are_you_thinking'), class: "form-label", for: "floatingTextArea" %>
            </div>
              Tag: <%= form.collection_select(:tag_ids, @all_tags, :id, :tag_text, input_html:{multiple: true, class: "multiselect-bamboleio"}) %>

              <div id="selectedTagsContainer">
              </div>

            <input type="file" class="form-control-file px-2">
            <%= form.submit t('views.models.publish'), class: "btn btn-outline-dark mb-1 px-5 mt-3 m-5", id: "button-addon1" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="card mt-5 col-md-4 mx-auto col-lg-9" data-aos="fade-left" data-aos-duration="1200">
    <div class="card-header bg-info"> <%= t('views.models.published_by') %> <strong> <%= post.user.name %> </strong> </div>
      <div class="card-body">
        Tags: <%= post.tags.pluck(:tag_text).to_sentence %><br>
        <div class="card-body" ><%= post.text %></div>
        <div class="d-grid gap-1 d-md-flex justify-content-md-end">
        <%= link_to t('views.models.comments'), post, class: "btn btn-dark" %>
        <% if user_post_delete?(post, current_user) %>
          <%= button_to t('views.models.delete_post'), post_path(post), method: :delete, class: "btn btn-outline-danger" %>
          <%= link_to  t('views.models.edit_post'), edit_post_path(post), method: :post, class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="pagination justify-content-center mt-5 py-5">
  <%= paginate @posts %>
</div>