<!DOCTYPE html>
<html>
  <head>
    <title>BlogMono</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>
    <body class='bg-light'>
      <%= render 'layouts/shared/nav' %>
        <%= yield %>
      <%= render 'layouts/shared/footer' %>
    </body>
</html>

<script>
      AOS.init();
</script>
 